$icon-font-path:'~bootstrap-sass/assets/fonts/bootstrap/';
$brand-primary:#3498db;
$font-size-base:13px;
$font-family-base:'Varela Round',
sans-serif;
$body-bg:#f2f2f3;
$text-color:#424e5a;
$navbar-default-bg:#fff;
$navbar-default-border:#c6ced6;
$navbar-border-radius:0;
